@import "node_modules/susy/sass/susy";
@import "./fonts.scss";

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
  gutter-position: inside,
  //debug: (image: show)
);

html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

$container-style: fluid;

$primary-color: #6F6F6F;
$secondary-color: #7C7C7C;
$active-color: #009FE3;
$active-secondary-color: #1C7FA9;

$section-border-color: $active-color;
$section-border: 20px solid $section-border-color;

$group-a-color: #3E7BB6;
$group-b-color: #FF6600;

$logo-el-faro: url(/images/logo.svg);
$logo-retrato: url(/images/retrato.svg);

@mixin full-screen-section {
  display: table;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 20px auto;

  @include susy-media(0 40em) {
    width: 100%;
  }
}

@mixin section {
  @include container(80em);
  margin: 0 auto;
  padding: 0;
}

@mixin flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-box-center {
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin section-title {
  text-align: left;
  display: inline-block;
  clear: both;
  padding: 0 20px;
  background: #fff;
  position: absolute;
  left: 20px;
  top: -30px;
  font-size: 40px;
  margin: 0;
  color: $section-border-color;

  @include susy-media(0 32em) {
    font-size: 32px;
  }
}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

.content-center {
  height: 100%;
  display: table-cell;

  text-align: center;
  vertical-align: middle;

  position: relative;
  z-index: 3;
}

.narrow-content {
  @include section;

  margin-top: 60px;
  margin-bottom: 50px;

  @include susy-media(0 80em) {
    margin-bottom: 30px;
  }

  @include susy-media(0 32em) {
    margin-top: 20px;
  }
}

@import "./components/index.scss";
