{
  // Newscoop API configs
  "clientID": "YYY",
  "clientSecret": "ZZZ",
  "baseURL": "http://example.com",
  "tokenPath": "/oauth/token",
  "apiPath": "/api/",

  // Newscoop configs to get the sections
  "language": "es",
  "publication": 7,
  "issue": 210,

  // API has no implementation of paging
  // Set this field into the max number of articles you have on a section
  "itemsPerPage": 40,

  // A password to clear cache using: http://your_host/cache
  "cachePassword": "some_secret_password"
}
