@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("/font/fontello.eot?20649566");
  src: url("/font/fontello.eot?20649566#iefix") format("embedded-opentype"), url("/font/fontello.woff?20649566") format("woff"), url("/font/fontello.ttf?20649566") format("truetype"), url("/font/fontello.svg?20649566#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?20649566#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-left-open:before {
  content: '\e800'; }

/* '' */
.icon-sun-filled:before {
  content: '\e801'; }

/* '' */
.icon-moon-inv:before {
  content: '\e802'; }

/* '' */
.icon-right-open:before {
  content: '\e803'; }

/* '' */
.icon-down-open:before {
  content: '\e804'; }

/* '' */
.icon-up-open:before {
  content: '\e805'; }

/* '' */
.icon-facebook:before {
  content: '\e806'; }

/* '' */
.icon-twitter:before {
  content: '\e807'; }

/* '' */
html, body, #app, #app > div {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0; }

.content-center {
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
  z-index: 3; }

.narrow-content {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 50px; }
  .narrow-content:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 0) and (max-width: 80em) {
    .narrow-content {
      margin-bottom: 30px; } }
  @media (min-width: 0) and (max-width: 32em) {
    .narrow-content {
      margin-top: 20px; } }

.button {
  background: transparent;
  border: 1px solid silver;
  margin: 0;
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  width: 200px;
  padding: 5px;
  cursor: pointer; }

.link {
  text-decoration: none;
  color: #4C79B0;
  padding: 5px;
  cursor: pointer; }
  .link:hover {
    text-decoration: underline; }

a {
  cursor: pointer; }

.toolbar {
  background: #009FE3;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001; }
  .toolbar .logo-elfaro {
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    width: 130px;
    height: 50px;
    float: right;
    margin-right: -20px; }
  .toolbar h1 {
    margin: 12px auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 26px;
    text-align: center;
    z-index: 1; }
    @media (min-width: 0) and (max-width: 35em) {
      .toolbar h1 {
        position: static;
        float: left;
        font-size: 22px; } }
    @media (min-width: 0) and (max-width: 32em) {
      .toolbar h1 {
        margin: 0; } }
  .toolbar .logo-retrato {
    background-image: url(/images/retrato.svg);
    background-repeat: no-repeat;
    width: 145px;
    height: 48px;
    background-color: #fff;
    margin-left: 10px;
    display: block;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 5px; }

.social a {
  font-size: 18px;
  padding: 2px; }
  .social a:last-child {
    margin-left: 5px; }

.social .twitter {
  background-color: #fff;
  color: #00aced;
  border: 2px solid #00aced; }
  .social .twitter:hover {
    background-color: #00aced;
    color: #fff; }

.social .facebook {
  background-color: #fff;
  color: #3b5998;
  border: 2px solid #3b5998;
  padding: 2px 3px; }
  .social .facebook:hover {
    background-color: #3b5998;
    color: #fff; }

.intro-section {
  display: table;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 20px auto;
  margin: 0;
  width: 100%; }
  @media (min-width: 0) and (max-width: 40em) {
    .intro-section {
      width: 100%; } }
  .intro-section .background,
  .intro-section .overlay-1,
  .intro-section .overlay-2,
  .intro-section .overlay-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .intro-section .background {
    width: 70%;
    left: 15%;
    background-image: url(/images/bgs/2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1; }
  .intro-section .overlay-1 {
    background-color: rgba(21, 60, 184, 0.65);
    z-index: 2;
    width: 83%;
    left: 17%;
    height: 95%; }
  .intro-section .overlay-2 {
    background-color: rgba(0, 74, 255, 0.65);
    z-index: 3;
    width: 90%;
    left: 10%;
    top: 30%;
    height: 70%; }
    @media (min-width: 0) and (max-width: 30em) {
      .intro-section .overlay-2 {
        top: 12%;
        height: 88%; } }
  .intro-section .overlay-3 {
    border: 20px solid #009FE3;
    z-index: 4;
    width: 80%;
    left: 5%;
    top: 5%;
    height: 75%; }
    @media (min-width: 0) and (max-width: 30em) {
      .intro-section .overlay-3 {
        width: 89%;
        left: 0%;
        top: 0;
        height: 80%; } }
    @media (min-width: 0) and (max-width: 20em) {
      .intro-section .overlay-3 {
        height: 85%; } }
  .intro-section .logo-elfaro {
    width: 130px;
    height: 50px;
    position: absolute;
    z-index: 10;
    top: 3%;
    right: 8%; }
    .intro-section .logo-elfaro::before {
      background-image: url(/images/logo.svg);
      background-repeat: no-repeat;
      position: absolute;
      content: ' ';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }
    .intro-section .logo-elfaro::after {
      background-color: #fff;
      position: absolute;
      content: ' ';
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      z-index: 1; }
    @media (min-width: 0) and (max-width: 32em) {
      .intro-section .logo-elfaro {
        height: 50px;
        width: 100px;
        top: 1%;
        right: 1%; } }
    @media (min-width: 0) and (max-width: 20em) {
      .intro-section .logo-elfaro {
        height: 40px;
        width: 90px; } }
  .intro-section .social {
    position: absolute;
    z-index: 110;
    top: 11%;
    right: 11%; }
    @media (min-width: 0) and (max-width: 32em) {
      .intro-section .social {
        top: 12%;
        right: 6%; } }
  .intro-section .logo-retrato {
    position: absolute;
    z-index: 10;
    top: 3%;
    left: 8%;
    background-image: url(/images/retrato.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 46px;
    background-color: #fff; }
    @media (min-width: 0) and (max-width: 32em) {
      .intro-section .logo-retrato {
        width: 170px;
        height: 56px;
        position: absolute;
        left: 1%;
        top: 1%;
        margin: 0; } }
  .intro-section .content-center {
    z-index: 20; }
  .intro-section .narrow-content {
    margin-top: 0; }
  .intro-section .title, .intro-section .body {
    padding: 10px 10%; }
  .intro-section .title {
    text-align: left; }
    .intro-section .title h1 {
      color: #009FE3;
      background-color: #fff;
      margin: 0;
      padding: 9px 25px;
      font-size: 90px;
      white-space: pre-wrap;
      -webkit-box-decoration-break: clone;
      display: inline; }
      @media (min-width: 0) and (max-width: 48em) {
        .intro-section .title h1 {
          font-size: 70px; } }
      @media (min-width: 0) and (max-width: 40em) {
        .intro-section .title h1 {
          font-size: 50px; } }
      @media (min-width: 0) and (max-width: 32em) {
        .intro-section .title h1 {
          display: none; } }
  .intro-section .body {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff; }
    @media (min-width: 32em) and (max-width: 40em) {
      .intro-section .body {
        padding: 10px 15%; } }
    @media (min-width: 0) and (max-width: 32em) {
      .intro-section .body {
        font-size: 16px; } }
  .intro-section .continue {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%; }
    .intro-section .continue i {
      display: inline-block;
      font-size: 60px;
      color: #fff; }
      @media (min-width: 0) and (max-width: 32em) {
        .intro-section .continue i {
          margin: 0; } }
    @media (min-width: 0) and (max-width: 24em) {
      .intro-section .continue {
        bottom: 0; } }

.maps-selector {
  display: table;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 20px auto; }
  @media (min-width: 0) and (max-width: 40em) {
    .maps-selector {
      width: 100%; } }
  .maps-selector h1 {
    text-align: left;
    display: inline-block;
    clear: both;
    padding: 0 20px;
    background: #fff;
    position: absolute;
    left: 20px;
    top: -30px;
    font-size: 60px;
    margin: 0;
    color: #009FE3; }
    @media (min-width: 0) and (max-width: 32em) {
      .maps-selector h1 {
        font-size: 32px; } }
  .maps-selector .content-center {
    border: 20px solid #009FE3; }
  .maps-selector ul {
    list-style: none;
    padding: 0;
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 0; }
    .maps-selector ul:after {
      content: " ";
      display: block;
      clear: both; }
    .maps-selector ul li {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      cursor: pointer; }
      .maps-selector ul li .wrap {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px silver;
        margin: 10px;
        padding: 0;
        display: block; }
        .maps-selector ul li .wrap:after {
          content: " ";
          display: block;
          clear: both; }
        .maps-selector ul li .wrap:hover {
          background-color: #009FE3; }
          .maps-selector ul li .wrap:hover .img {
            opacity: 1; }
          .maps-selector ul li .wrap:hover h4 {
            color: #fff; }
      .maps-selector ul li .img {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 31.6666666667%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        padding-top: 16.6666666667%;
        opacity: 0.75;
        height: 0;
        padding-top: 25%;
        position: relative; }
        .maps-selector ul li .img img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .maps-selector ul li h4 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 65%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 0;
        color: #000;
        font-weight: normal; }
      @media (min-width: 0) and (max-width: 72em) {
        .maps-selector ul li {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 50%;
          float: left; } }
      @media (min-width: 0) and (max-width: 40em) {
        .maps-selector ul li {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left; } }

.map-article {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px; }
  .map-article:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 0) and (max-width: 35em) {
    .map-article {
      padding-top: 115px; } }
  @media (min-width: 0) and (max-width: 32em) {
    .map-article {
      padding-top: 123px; } }
  .map-article .top-header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px; }
    .map-article .top-header:after {
      content: " ";
      display: block;
      clear: both; }
    @media (min-width: 0) and (max-width: 32em) {
      .map-article .top-header {
        margin-bottom: 5px; } }
    .map-article .top-header .back a {
      text-decoration: none;
      color: #6F6F6F;
      padding: 4px 5px;
      border: 2px solid #6F6F6F;
      font-weight: bold;
      display: inline-block;
      text-transform: uppercase; }
      .map-article .top-header .back a:hover {
        background: #6F6F6F;
        color: #fff; }
    .map-article .top-header .back {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left; }
      @media (min-width: 0) and (max-width: 32em) {
        .map-article .top-header .back {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 50%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; } }
    .map-article .top-header .social {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      text-align: right;
      margin-top: 3px; }
      @media (min-width: 0) and (max-width: 32em) {
        .map-article .top-header .social {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 50%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; } }
  .map-article .top-menu {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .map-article .top-menu:after {
      content: " ";
      display: block;
      clear: both; }
    .map-article .top-menu .layers, .map-article .top-menu .tabs {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      margin-top: 5px;
      display: inline-block; }
      .map-article .top-menu .layers li, .map-article .top-menu .tabs li {
        display: inline; }
      .map-article .top-menu .layers a, .map-article .top-menu .tabs a {
        padding: 12px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        margin: 0; }
    .map-article .top-menu .layers {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      text-align: right; }
      .map-article .top-menu .layers li {
        margin: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%; }
        .map-article .top-menu .layers li a {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding: 0;
          color: #4A4A4A;
          display: table; }
          .map-article .top-menu .layers li a > div:first-child {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 33.3333333333%;
            float: left;
            display: table-cell;
            padding: 12px 10px;
            vertical-align: middle;
            border-right: 2px solid; }
          .map-article .top-menu .layers li a > div:last-child {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 66.6666666667%;
            float: left;
            display: table-cell;
            text-transform: none;
            padding: 2px;
            font-weight: normal; }
        .map-article .top-menu .layers li:nth-child(1) a {
          background: #fff;
          border: 2px solid #3E7BB6; }
          .map-article .top-menu .layers li:nth-child(1) a > div:first-child {
            color: #3E7BB6; }
          .map-article .top-menu .layers li:nth-child(1) a.active > div:first-child {
            border-right: none;
            background: #3E7BB6;
            color: #fff; }
        .map-article .top-menu .layers li:nth-child(2) a {
          background: #fff;
          border: 2px solid #FF6600; }
          .map-article .top-menu .layers li:nth-child(2) a > div:first-child {
            color: #FF6600; }
          .map-article .top-menu .layers li:nth-child(2) a.active > div:first-child {
            border-right: none;
            background: #FF6600;
            color: #fff; }
      @media (min-width: 0) and (max-width: 65em) {
        .map-article .top-menu .layers {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 66.6666666667%;
          float: left; } }
      @media (min-width: 0) and (max-width: 50em) {
        .map-article .top-menu .layers {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 58.3333333333%;
          float: left; }
          .map-article .top-menu .layers li {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            float: left;
            padding-left: 0.8333333333%;
            padding-right: 0.8333333333%; } }
      @media (min-width: 0) and (max-width: 32em) {
        .map-article .top-menu .layers {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          margin-top: 0; }
          .map-article .top-menu .layers li {
            padding: 0;
            margin: 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 50%;
            float: left; }
            .map-article .top-menu .layers li a {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              float: left; }
              .map-article .top-menu .layers li a > div:first-child,
              .map-article .top-menu .layers li a > div:last-child {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 100%;
                float: left; }
              .map-article .top-menu .layers li a > div:first-child {
                padding: 2px 10px;
                border-right: none;
                border-bottom: 2px solid; }
              .map-article .top-menu .layers li a.active > div:first-child {
                border-bottom: 2px solid transparent; } }
    .map-article .top-menu .tabs {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left; }
      .map-article .top-menu .tabs li {
        margin: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%; }
        .map-article .top-menu .tabs li a {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          color: #6F6F6F;
          background: #fff;
          border: 2px solid #6F6F6F; }
          .map-article .top-menu .tabs li a.active {
            background: #6F6F6F;
            color: #fff; }
      @media (min-width: 0) and (max-width: 65em) {
        .map-article .top-menu .tabs {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 33.3333333333%;
          float: left; }
          .map-article .top-menu .tabs li {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 41.6666666667%;
            float: left;
            padding-left: 0.8333333333%;
            padding-right: 0.8333333333%; } }
      @media (min-width: 0) and (max-width: 50em) {
        .map-article .top-menu .tabs {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 41.6666666667%;
          float: left; }
          .map-article .top-menu .tabs li {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 66.6666666667%;
            float: left;
            padding-left: 0.8333333333%;
            padding-right: 0.8333333333%; } }
      @media (min-width: 0) and (max-width: 32em) {
        .map-article .top-menu .tabs {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          margin-top: 0;
          position: fixed;
          top: 89px;
          left: 0;
          z-index: 1001; }
          .map-article .top-menu .tabs li {
            padding: 0;
            margin: 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 50%;
            float: left; }
            .map-article .top-menu .tabs li a {
              padding: 5px 12px;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              float: left; } }
  .map-article .map {
    width: 100%;
    min-width: 200px;
    height: 380px;
    background: #DDDDDD; }
    @media (min-width: 0) and (max-width: 30em) {
      .map-article .map {
        height: 280px; } }
  .map-article .content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .map-article .content:after {
      content: " ";
      display: block;
      clear: both; }
    .map-article .content .km-viz {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .map-article .content .km-viz > div {
        vertical-align: middle;
        color: #4C4C4C;
        font-size: 20px;
        text-align: center;
        background: #E6FFEF;
        margin: 20px;
        padding: 20px; }
      @media (min-width: 0) and (max-width: 45em) {
        .map-article .content .km-viz {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; } }
    .map-article .content .editorial-content {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 75%;
      float: left; }
      .map-article .content .editorial-content .editorial-tabs {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        text-align: right;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        margin-top: 15px;
        display: inline-block;
        border-bottom: 2px solid #E2E2E2; }
        .map-article .content .editorial-content .editorial-tabs li {
          display: inline; }
          .map-article .content .editorial-content .editorial-tabs li a {
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            margin: 0;
            border-bottom: none;
            color: #A1A1A1; }
            .map-article .content .editorial-content .editorial-tabs li a.active {
              border: 2px solid #E2E2E2;
              border-bottom: 2px solid white;
              margin-bottom: -2px;
              color: #6F6F6F;
              border-top: 3px solid #009FE3; }
      .map-article .content .editorial-content .analysis {
        padding-top: 10px;
        padding-bottom: 10px; }
      .map-article .content .editorial-content .editorial-article,
      .map-article .content .editorial-content .analysis {
        display: inline-block; }
      .map-article .content .editorial-content h2 {
        margin: 10px 0 20px 0;
        font-size: 50px;
        font-weight: lighter;
        margin: 0; }
      .map-article .content .editorial-content .author,
      .map-article .content .editorial-content .author-mobile {
        text-transform: uppercase;
        font-size: 22px;
        float: right; }
      .map-article .content .editorial-content .author-mobile {
        display: none;
        font-size: 16px;
        float: right; }
      @media (min-width: 0) and (max-width: 45em) {
        .map-article .content .editorial-content {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; }
          .map-article .content .editorial-content h2 {
            font-size: 50px; }
          .map-article .content .editorial-content .author {
            display: none; }
          .map-article .content .editorial-content .author-mobile {
            font-size: 18px;
            display: block; } }
      @media (min-width: 0) and (max-width: 30em) {
        .map-article .content .editorial-content h2 {
          font-size: 38px; }
        .map-article .content .editorial-content .author-mobile {
          font-size: 16px; } }
      .map-article .content .editorial-content .intro {
        display: inline-block;
        margin: 10px 0;
        font-size: 24px;
        font-weight: bold; }
        .map-article .content .editorial-content .intro p {
          margin: 0; }
        @media (min-width: 0) and (max-width: 45em) {
          .map-article .content .editorial-content .intro {
            font-size: 22px; } }
      .map-article .content .editorial-content .body {
        font-size: 18px; }
        .map-article .content .editorial-content .body p {
          margin-top: 0; }
        @media (min-width: 0) and (max-width: 45em) {
          .map-article .content .editorial-content .body {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            float: left;
            padding-left: 0.8333333333%;
            padding-right: 0.8333333333%;
            margin-left: 0;
            font-size: 16px; } }

.leaflet-popup .leaflet-popup-close-button {
  display: none; }

.leaflet-popup-content-wrapper,
.place-item {
  border-radius: 0;
  width: 300px; }
  .leaflet-popup-content-wrapper .leaflet-popup-content,
  .leaflet-popup-content-wrapper .place-content,
  .place-item .leaflet-popup-content,
  .place-item .place-content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px; }
    .leaflet-popup-content-wrapper .leaflet-popup-content:after,
    .leaflet-popup-content-wrapper .place-content:after,
    .place-item .leaflet-popup-content:after,
    .place-item .place-content:after {
      content: " ";
      display: block;
      clear: both; }
    .leaflet-popup-content-wrapper .leaflet-popup-content .desc,
    .leaflet-popup-content-wrapper .place-content .desc,
    .place-item .leaflet-popup-content .desc,
    .place-item .place-content .desc {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 66.6666666667%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .leaflet-popup-content-wrapper .leaflet-popup-content .desc h3,
      .leaflet-popup-content-wrapper .place-content .desc h3,
      .place-item .leaflet-popup-content .desc h3,
      .place-item .place-content .desc h3 {
        margin: 0; }
      .leaflet-popup-content-wrapper .leaflet-popup-content .desc h4,
      .leaflet-popup-content-wrapper .place-content .desc h4,
      .place-item .leaflet-popup-content .desc h4,
      .place-item .place-content .desc h4 {
        margin: 0;
        margin-top: 5px;
        font-weight: normal; }
    .leaflet-popup-content-wrapper .leaflet-popup-content .img,
    .leaflet-popup-content-wrapper .place-content .img,
    .place-item .leaflet-popup-content .img,
    .place-item .place-content .img {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.3333333333%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 80px; }

.testimonials {
  display: table;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 20px auto;
  display: block; }
  @media (min-width: 0) and (max-width: 40em) {
    .testimonials {
      width: 100%; } }
  .testimonials h1 {
    text-align: left;
    display: inline-block;
    clear: both;
    padding: 0 20px;
    background: #fff;
    position: absolute;
    left: 20px;
    top: -30px;
    font-size: 60px;
    margin: 0;
    color: #009FE3; }
    @media (min-width: 0) and (max-width: 32em) {
      .testimonials h1 {
        font-size: 32px; } }
  .testimonials .content-center {
    border: 20px solid #009FE3;
    display: block; }
  @media (min-width: 0) and (max-width: 80em) {
    .testimonials .narrow-content {
      margin: 60px 20px 50px 20px; } }
  @media (min-width: 0) and (max-width: 32em) {
    .testimonials .narrow-content {
      margin: 20px 20px 50px 20px; } }
  .testimonials .wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .testimonials .wrap:after {
      content: " ";
      display: block;
      clear: both; }
  .testimonials .body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    font-style: italic; }
    .testimonials .body p {
      margin-top: 0;
      display: inline; }
  .testimonials .author {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    font-size: 18px;
    margin: 7px; }
  .testimonials .slick-next, .testimonials .slick-prev {
    display: block;
    bottom: -30px;
    top: auto;
    padding: 2px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    z-index: 5; }
    .testimonials .slick-next:before, .testimonials .slick-prev:before {
      font-family: "fontello";
      color: #009FE3;
      font-size: 40px; }
  .testimonials .slick-next {
    right: 0px; }
    .testimonials .slick-next:before {
      content: "\e803"; }
  .testimonials .slick-prev {
    left: 0px; }
    .testimonials .slick-prev:before {
      content: "\e800"; }

.methodology {
  display: table;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 20px auto; }
  @media (min-width: 0) and (max-width: 40em) {
    .methodology {
      width: 100%; } }
  .methodology h1 {
    text-align: left;
    display: inline-block;
    clear: both;
    padding: 0 20px;
    background: #fff;
    position: absolute;
    left: 20px;
    top: -30px;
    font-size: 60px;
    margin: 0;
    color: #009FE3; }
    @media (min-width: 0) and (max-width: 32em) {
      .methodology h1 {
        font-size: 32px; } }
  .methodology .content-center {
    border: 20px solid #009FE3; }
  .methodology .body {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px; }

.places {
  width: 100%;
  margin: 0;
  margin-bottom: 30px; }
  .places .content-place {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .places .content-place:after {
      content: " ";
      display: block;
      clear: both; }
    .places .content-place .places-list {
      display: inline-block;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .places .content-place .places-list .slick-slider {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 91.6666666667%;
        float: left;
        margin: 0 4.1666666667%; }
        .places .content-place .places-list .slick-slider .slick-prev,
        .places .content-place .places-list .slick-slider .slick-next {
          display: block;
          height: 94px;
          top: 20px;
          width: 40px; }
          @media (min-width: 0) and (max-width: 32em) {
            .places .content-place .places-list .slick-slider .slick-prev,
            .places .content-place .places-list .slick-slider .slick-next {
              width: 25px; } }
          .places .content-place .places-list .slick-slider .slick-prev:before,
          .places .content-place .places-list .slick-slider .slick-next:before {
            font-family: "fontello";
            color: #424242;
            font-size: 40px; }
        .places .content-place .places-list .slick-slider .slick-prev {
          left: -35px; }
          @media (min-width: 0) and (max-width: 32em) {
            .places .content-place .places-list .slick-slider .slick-prev {
              left: -20px; } }
          .places .content-place .places-list .slick-slider .slick-prev:before {
            content: "\e800"; }
        .places .content-place .places-list .slick-slider .slick-next {
          right: -35px; }
          @media (min-width: 0) and (max-width: 32em) {
            .places .content-place .places-list .slick-slider .slick-next {
              right: -15px; } }
          .places .content-place .places-list .slick-slider .slick-next:before {
            content: "\e803"; }
      .places .content-place .places-list .place-item {
        cursor: pointer;
        color: #000;
        padding: 0;
        overflow: hidden;
        height: 115px; }
        .places .content-place .places-list .place-item .place-content {
          background: #fff;
          padding: 5px;
          border: 2px solid #6F6F6F;
          margin-bottom: 0;
          margin-top: 10px; }
          .places .content-place .places-list .place-item .place-content h3 {
            font-size: 13px;
            font-weight: bold; }
          .places .content-place .places-list .place-item .place-content h4 {
            font-size: 12px; }
        .places .content-place .places-list .place-item.selected .place-content {
          background: #009FE3;
          border: 2px solid #009FE3; }
          .places .content-place .places-list .place-item.selected .place-content .desc {
            color: #fff; }
    .places .content-place .left {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 41.6666666667%;
      float: left;
      position: relative; }
      .places .content-place .left .picture {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        height: 450px;
        position: relative; }
        .places .content-place .left .picture > div {
          background-color: silver;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .places .content-place .left .content {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        height: 78px;
        position: absolute;
        bottom: 0;
        left: 0; }
        .places .content-place .left .content > div {
          color: #000;
          background: rgba(255, 255, 255, 0.75);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          .places .content-place .left .content > div .groups {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 58.3333333333%;
            float: left;
            padding: 5px 10px; }
            .places .content-place .left .content > div .groups label {
              display: block;
              font-weight: bold; }
            .places .content-place .left .content > div .groups span {
              padding: 10px;
              color: #fff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
              display: inline-block;
              margin: 5px; }
            .places .content-place .left .content > div .groups .a {
              background: #3E7BB6; }
            .places .content-place .left .content > div .groups .b {
              background: #FF6600; }
          .places .content-place .left .content > div .times {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 41.6666666667%;
            float: left;
            padding: 5px 10px;
            text-align: right; }
            .places .content-place .left .content > div .times label {
              display: block;
              font-weight: bold; }
            .places .content-place .left .content > div .times span {
              text-align: center;
              display: inline-block;
              margin: 5px; }
            .places .content-place .left .content > div .times .day {
              background: #82C6F6; }
              .places .content-place .left .content > div .times .day i {
                color: #FFFF7B;
                font-size: 30px;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
            .places .content-place .left .content > div .times .night {
              background: #2A5471; }
              .places .content-place .left .content > div .times .night i {
                color: #F8F8F8;
                font-size: 30px;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
      @media (min-width: 0) and (max-width: 56em) {
        .places .content-place .left {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; }
          .places .content-place .left .picture {
            height: 240px; } }
    .places .content-place .right {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 58.3333333333%;
      float: left; }
      .places .content-place .right .content {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        background-color: #fff;
        color: #000; }
        .places .content-place .right .content .header,
        .places .content-place .right .content .body,
        .places .content-place .right .content .fields {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; }
        .places .content-place .right .content .header h2 {
          margin: 0;
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 5px; }
        .places .content-place .right .content .header h3 {
          margin: 0;
          font-weight: normal;
          font-size: 18px;
          margin-bottom: 10px;
          font-style: italic;
          color: #3B3B3B; }
        .places .content-place .right .content .header span {
          float: right;
          color: #8B8B8B;
          margin-top: -10px; }
        .places .content-place .right .content .body {
          display: inline-block;
          margin: 0;
          font-size: 16px; }
        .places .content-place .right .content .fields {
          font-size: 16px; }
          .places .content-place .right .content .fields > div {
            margin: 5px 0 20px 0; }
            .places .content-place .right .content .fields > div label {
              display: block;
              background: #F5F5F5;
              padding: 5px 5px 5px 15px;
              border-left: 5px solid #009FE3;
              margin-bottom: 5px; }
            .places .content-place .right .content .fields > div span {
              display: inline-block;
              white-space: pre-line;
              padding-left: 10px;
              word-break: break-word; }
      @media (min-width: 0) and (max-width: 56em) {
        .places .content-place .right {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; } }

.logos {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 0; }
  .logos:after {
    content: " ";
    display: block;
    clear: both; }
  .logos .legend {
    font-size: 20px;
    display: block; }
    .logos .legend strong {
      font-weight: bold; }
    @media (min-width: 0) and (max-width: 80em) {
      .logos .legend {
        margin: 10px; } }
  .logos a, .logos > div {
    height: 100px;
    display: inline-block;
    text-align: center;
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
    @media (min-width: 0) and (max-width: 30em) {
      .logos a, .logos > div {
        display: block;
        width: 80%;
        height: 60px;
        margin: 10%; } }
  .logos .hackslabs {
    background-image: url("/images/hackslabs.png"); }
    @media (min-width: 0) and (max-width: 30em) {
      .logos .hackslabs {
        height: 30px; } }
  .logos .icfj {
    background-image: url("/images/ICFJ.jpg"); }
  .logos .hivos {
    background-image: url("/images/hivos.jpg"); }
  .logos .avina {
    background-image: url("/images/avina.gif"); }
  .logos .anacarolina {
    background-image: url("/images/AnaCarolina.jpg"); }

.marker-icon {
  background: #FFF;
  border: 1px solid #555;
  border-radius: 4px; }
  .marker-icon .group-both,
  .marker-icon .group-a,
  .marker-icon .group-b {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 50%; }
  .marker-icon .group-both {
    background: linear-gradient(90deg, #3E7BB6 50%, #FF6600 50%); }
  .marker-icon .group-a {
    background: #3E7BB6; }
  .marker-icon .group-b {
    background: #FF6600; }
  .marker-icon:after {
    border-top-color: #555;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: 12.5px solid #555;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    margin-left: -12.5px; }
  .marker-icon.selected {
    background: yellow; }

.metadata {
  width: 600px;
  margin: 20px auto; }
  .metadata h1 {
    margin: 10px; }
  .metadata .control {
    display: block;
    margin: 10px 0; }
    .metadata .control label {
      display: block;
      font-size: 16px; }
    .metadata .control input[type=text] {
      width: 100%;
      padding: 3px;
      margin: 5px 0; }
      .metadata .control input[type=text].coord {
        width: 150px; }
    .metadata .control textarea {
      width: 100%;
      height: 60px;
      margin: 5px 0; }
    .metadata .control .check {
      padding: 5px 13px;
      display: inline-block;
      background: #EFEFEF;
      border-radius: 2px;
      margin: 5px 10px; }
      .metadata .control .check label {
        display: inline-block;
        vertical-align: top;
        font-size: 14px; }
      .metadata .control .check input {
        display: inline-block;
        width: auto; }
  .metadata .parsed {
    width: 100%;
    height: 150px; }
  .metadata .error {
    color: red; }
  .metadata a {
    padding: 5px;
    border: 1px solid silver;
    color: #000;
    border-radius: 4px;
    text-decoration: none;
    margin: 10px 20px;
    float: right; }
