@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("/font/fontello.eot?1429900");
  src: url("/font/fontello.eot?1429900#iefix") format("embedded-opentype"), url("/font/fontello.woff?1429900") format("woff"), url("/font/fontello.ttf?1429900") format("truetype"), url("/font/fontello.svg?1429900#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?1429900#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-left-open:before {
  content: '\e800'; }

/* '' */
.icon-sun-filled:before {
  content: '\e801'; }

/* '' */
.icon-moon-inv:before {
  content: '\e802'; }

/* '' */
.icon-right-open:before {
  content: '\e803'; }

/* '' */
html, body {
  height: 100%; }

body {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Slab', serif;
  margin: 0 auto;
  padding: 0; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

.button {
  background: transparent;
  border: 1px solid silver;
  margin: 0;
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  width: 200px;
  padding: 5px;
  cursor: pointer; }

.link {
  text-decoration: none;
  color: #4C79B0;
  padding: 5px;
  cursor: pointer; }
  .link:hover {
    text-decoration: underline; }

a {
  cursor: pointer; }

.logo {
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  width: 234px;
  height: 87px; }
  @media (min-width: 0) and (max-width: 30em) {
    .logo {
      height: 47px; } }
  @media (min-width: 30em) and (max-width: 60em) {
    .logo {
      height: 67px; } }

section {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block; }

.intro-article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .intro-article:after {
    content: " ";
    display: block;
    clear: both; }
  .intro-article .title {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.3333333333%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }
    .intro-article .title h1 {
      font-size: 50px;
      margin: 0; }
    .intro-article .title h2 {
      margin: 0; }
  .intro-article .section-name {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.6666666667%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }
    .intro-article .section-name span {
      display: inline-block;
      border-left: 2px solid #343434;
      font-size: 16px;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 30px;
      float: right; }
  .intro-article .body {
    display: inline-block;
    font-size: 20px; }

.maps-selector {
  list-style: none;
  padding: 0;
  margin: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .maps-selector:after {
    content: " ";
    display: block;
    clear: both; }
  .maps-selector li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    background-color: #6F6F6F;
    padding-bottom: 10px;
    cursor: pointer; }
    .maps-selector li:nth-child(odd) {
      background-color: #7C7C7C; }
    .maps-selector li h4 {
      margin: 5px;
      min-height: 40px;
      color: #EBEBEB; }
    .maps-selector li div {
      background: #D7D7D7;
      border: 1px solid white;
      opacity: 0.74;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%;
      height: 0;
      padding-top: 50%;
      position: relative; }
      .maps-selector li div img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .maps-selector li:hover h4, .maps-selector li.selected h4 {
      color: #fff; }
    .maps-selector li:hover div, .maps-selector li.selected div {
      opacity: 1; }
    .maps-selector li.selected {
      cursor: default;
      background-color: #C68700; }
    @media (min-width: 0) and (max-width: 40em) {
      .maps-selector li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        padding-bottom: 0; }
        .maps-selector li h4 {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 73.3333333333%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%;
          font-size: 16px;
          margin-top: 10px;
          color: #fff; }
        .maps-selector li div {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 23.3333333333%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%;
          padding-top: 16.6666666667%;
          opacity: 1;
          background: none;
          border: none; }
          .maps-selector li div img {
            top: 5%;
            bottom: 5%;
            height: 90%; } }

.map-article {
  margin-top: 0;
  margin-bottom: 0; }
  .map-article .top-menu {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .map-article .top-menu:after {
      content: " ";
      display: block;
      clear: both; }
    .map-article .top-menu .layers, .map-article .top-menu .places-btn {
      list-style: none;
      padding: 0;
      display: inline-block; }
      .map-article .top-menu .layers li, .map-article .top-menu .places-btn li {
        display: inline; }
      .map-article .top-menu .layers a, .map-article .top-menu .places-btn a {
        padding: 10px;
        background: #6F6F6F;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold; }
        .map-article .top-menu .layers a.active, .map-article .top-menu .places-btn a.active {
          background: #C68700; }
    .map-article .top-menu .layers {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 75%;
      float: left;
      margin-bottom: 0; }
      .map-article .top-menu .layers li {
        display: block; }
        .map-article .top-menu .layers li a {
          text-align: center;
          display: inline-block;
          margin: 5px 0; }
        .map-article .top-menu .layers li:nth-child(1) a {
          background: #fff;
          color: #3E7BB6;
          border: 2px solid #3E7BB6; }
          .map-article .top-menu .layers li:nth-child(1) a.active {
            background: #3E7BB6;
            color: #fff; }
        .map-article .top-menu .layers li:nth-child(2) a {
          background: #fff;
          color: #FF6600;
          border: 2px solid #FF6600; }
          .map-article .top-menu .layers li:nth-child(2) a.active {
            background: #FF6600;
            color: #fff; }
        .map-article .top-menu .layers li span {
          margin-left: 10px; }
      @media (min-width: 0) and (max-width: 45em) {
        .map-article .top-menu .layers {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 66.6666666667%;
          float: left; }
          .map-article .top-menu .layers li {
            clear: both;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            float: left;
            padding-left: 0.8333333333%;
            padding-right: 0.8333333333%;
            margin: 5px 0; }
            .map-article .top-menu .layers li span {
              margin-left: 0;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 75%;
              float: left;
              padding-left: 0.8333333333%;
              padding-right: 0.8333333333%; }
            .map-article .top-menu .layers li a {
              margin: 0;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 25%;
              float: left; } }
      @media (min-width: 0) and (max-width: 30em) {
        .map-article .top-menu .layers {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left; } }
    .map-article .top-menu .places-btn {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      text-align: right;
      margin-top: 15px; }
      .map-article .top-menu .places-btn span {
        text-transform: uppercase;
        display: block;
        margin: 20px 0 5px 0;
        font-size: 18px;
        font-weight: 600; }
      .map-article .top-menu .places-btn a {
        display: block;
        max-width: 140px;
        float: right;
        color: #6F6F6F;
        background: #fff;
        border: 2px solid #6F6F6F; }
        .map-article .top-menu .places-btn a.active {
          background: #6F6F6F;
          color: #fff; }
      @media (min-width: 0) and (max-width: 45em) {
        .map-article .top-menu .places-btn {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 33.3333333333%;
          float: left; } }
      @media (min-width: 0) and (max-width: 30em) {
        .map-article .top-menu .places-btn {
          display: none; } }
  .map-article .map {
    width: 100%;
    min-width: 200px;
    height: 520px;
    background: #DDDDDD; }
    @media (min-width: 0) and (max-width: 30em) {
      .map-article .map {
        height: 320px; } }
  .map-article .content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .map-article .content:after {
      content: " ";
      display: block;
      clear: both; }
    .map-article .content .tag {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .map-article .content .tag span {
        border: 2px solid black;
        display: inline-block;
        padding: 10px;
        margin: 10px 0; }
      @media (min-width: 0) and (max-width: 45em) {
        .map-article .content .tag {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 50%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; } }
      @media (min-width: 0) and (max-width: 30em) {
        .map-article .content .tag {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; } }
    .map-article .content .header {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 75%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .map-article .content .header h2 {
        margin: 10px 0 20px 0;
        font-size: 60px;
        font-weight: lighter;
        margin: 0; }
      .map-article .content .header .author,
      .map-article .content .header .author-mobile {
        text-transform: uppercase;
        font-size: 22px; }
      .map-article .content .header .author-mobile {
        display: none;
        font-size: 16px; }
      @media (min-width: 0) and (max-width: 45em) {
        .map-article .content .header {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; }
          .map-article .content .header h2 {
            font-size: 50px; }
          .map-article .content .header .author {
            display: none; }
          .map-article .content .header .author-mobile {
            font-size: 18px;
            display: block; } }
      @media (min-width: 0) and (max-width: 30em) {
        .map-article .content .header h2 {
          font-size: 38px; }
        .map-article .content .header .author-mobile {
          font-size: 16px; } }
    .map-article .content .intro {
      display: inline-block;
      margin: 10px 0;
      font-size: 24px;
      font-weight: bold; }
      .map-article .content .intro p {
        margin: 0; }
      @media (min-width: 0) and (max-width: 45em) {
        .map-article .content .intro {
          font-size: 22px; } }
    .map-article .content .body {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 75%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%;
      margin-left: 25%;
      font-size: 18px; }
      .map-article .content .body p {
        margin-top: 0; }
      @media (min-width: 0) and (max-width: 45em) {
        .map-article .content .body {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%;
          margin-left: 0;
          font-size: 16px; } }

.leaflet-popup .leaflet-popup-close-button {
  display: none; }

.leaflet-popup-content-wrapper,
.place-item {
  border-radius: 0;
  width: 300px; }
  .leaflet-popup-content-wrapper .leaflet-popup-content,
  .leaflet-popup-content-wrapper .place-content,
  .place-item .leaflet-popup-content,
  .place-item .place-content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px; }
    .leaflet-popup-content-wrapper .leaflet-popup-content:after,
    .leaflet-popup-content-wrapper .place-content:after,
    .place-item .leaflet-popup-content:after,
    .place-item .place-content:after {
      content: " ";
      display: block;
      clear: both; }
    .leaflet-popup-content-wrapper .leaflet-popup-content .desc,
    .leaflet-popup-content-wrapper .place-content .desc,
    .place-item .leaflet-popup-content .desc,
    .place-item .place-content .desc {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 66.6666666667%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .leaflet-popup-content-wrapper .leaflet-popup-content .desc h3,
      .leaflet-popup-content-wrapper .place-content .desc h3,
      .place-item .leaflet-popup-content .desc h3,
      .place-item .place-content .desc h3 {
        margin: 0; }
      .leaflet-popup-content-wrapper .leaflet-popup-content .desc h4,
      .leaflet-popup-content-wrapper .place-content .desc h4,
      .place-item .leaflet-popup-content .desc h4,
      .place-item .place-content .desc h4 {
        margin: 0;
        margin-top: 5px;
        font-weight: normal; }
    .leaflet-popup-content-wrapper .leaflet-popup-content .img,
    .leaflet-popup-content-wrapper .place-content .img,
    .place-item .leaflet-popup-content .img,
    .place-item .place-content .img {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.3333333333%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 80px; }

.analysis-article {
  display: block;
  padding: 10px;
  background-color: #F9AE0A;
  min-height: 330px; }
  .analysis-article .content .tag {
    display: inline-block; }
    .analysis-article .content .tag span {
      border: 2px solid black;
      display: inline-block;
      padding: 10px;
      margin: 10px 0; }
  .analysis-article .content .body {
    display: inline-block;
    margin: 10px 0; }
    .analysis-article .content .body p {
      margin-top: 0; }
  .analysis-article .content .author {
    text-transform: uppercase;
    font-size: 20px; }

.testimonials {
  display: block;
  border: solid 2px black;
  padding: 10px; }
  .testimonials .content .tag {
    display: inline-block; }
    .testimonials .content .tag span {
      border: 2px solid black;
      display: inline-block;
      padding: 10px;
      margin: 10px 0;
      width: 80%; }
  .testimonials .body {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-style: italic; }
    .testimonials .body p {
      margin-top: 0;
      display: inline; }
  .testimonials .author {
    font-size: 18px;
    margin: 7px; }
  .testimonials .slick-next, .testimonials .slick-prev {
    display: block;
    bottom: -30px;
    top: auto;
    background: black;
    padding: 2px;
    width: 24px;
    height: 22px;
    border-radius: 3px;
    z-index: 5; }
  .testimonials .slick-next {
    right: 0px; }
  .testimonials .slick-prev {
    left: 0px; }
  @media (min-width: 0) and (max-width: 40em) {
    .testimonials {
      border: none; } }

.places {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.79);
  color: #fff;
  z-index: 999;
  left: 0;
  width: 100%;
  margin: 0;
  /*
    .picture {
      @include span(6);

      height: 0;
      padding-top: span(5);
      position: relative;

      img {
        position: absolute;
        top: 0;
        right: 2%;
        bottom: 0;
        left: 5%;
        width: 93%;
        height: 100%;
      }
    }

    .content {
      @include span(6);

      height: 0;
      padding-top: span(5);
      position: relative;

      color: #000;
      font-size: 16px;

      .wrap {
        position: absolute;
        top: 0;
        right: 5%;
        bottom: 0;
        left: 2%;
        width: 93%;
        height: 100%;
        background: #fff;

        .header,
        .body,
        .fields {
          margin: 0 10px;
          @include span(12);
        }

        .header {
          margin-top: 15px;
          margin-bottom: 15px;

          h2, h3 {
            margin: 0;
            display: inline;
            font-size: 22px;
          }

          h2 {
            font-weight: bold;
            margin-right: 10px;
          }

          h3 {
            font-weight: normal;
          }
        }

        .body {
          display: inline-block;
        }

        .fields {
          display: inline-block;

          >div {
            display: inline-block;
            margin: 5px 0;

            label {
              margin: 5px;
            }

            span {
              font-weight: bold;
            }
          }
        }
      }

    }

  }
*/ }
  .places .content-place {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px; }
    .places .content-place:after {
      content: " ";
      display: block;
      clear: both; }
    .places .content-place .close {
      cursor: pointer;
      color: #fff;
      position: absolute;
      top: -3px;
      right: 10px;
      font-size: 30px;
      font-family: sans-serif;
      font-weight: bold; }
    .places .content-place .left {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 41.6666666667%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .places .content-place .left .picture {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        height: 450px;
        position: relative; }
        .places .content-place .left .picture > div {
          background-color: silver;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .places .content-place .left .content {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        height: 85px;
        position: relative; }
        .places .content-place .left .content > div {
          margin-top: 10px;
          color: #000;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          .places .content-place .left .content > div .groups {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 58.3333333333%;
            float: left;
            background: #fff;
            padding: 5px 10px;
            border-right: 5px solid #F9AE0A; }
            .places .content-place .left .content > div .groups label {
              display: block;
              font-weight: bold; }
            .places .content-place .left .content > div .groups span {
              padding: 10px;
              color: #fff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
              display: inline-block;
              margin: 5px; }
            .places .content-place .left .content > div .groups .a {
              background: #3E7BB6; }
            .places .content-place .left .content > div .groups .b {
              background: #FF6600; }
          .places .content-place .left .content > div .times {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 41.6666666667%;
            float: left;
            background: #fff;
            padding: 5px 10px; }
            .places .content-place .left .content > div .times label {
              display: block;
              font-weight: bold; }
            .places .content-place .left .content > div .times span {
              text-align: center;
              display: inline-block;
              margin: 5px; }
            .places .content-place .left .content > div .times .day {
              background: #82C6F6; }
              .places .content-place .left .content > div .times .day i {
                color: #FFFF7B;
                font-size: 30px;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
            .places .content-place .left .content > div .times .night {
              background: #2A5471; }
              .places .content-place .left .content > div .times .night i {
                color: #F8F8F8;
                font-size: 30px;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
    .places .content-place .right {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 58.3333333333%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .places .content-place .right .content {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%;
        background-color: #fff;
        color: #000;
        padding-top: 10px;
        height: 540px;
        overflow-x: hidden;
        overflow-y: auto; }
        .places .content-place .right .content .header,
        .places .content-place .right .content .body,
        .places .content-place .right .content .fields {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; }
        .places .content-place .right .content .header h2 {
          margin: 0;
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 5px; }
        .places .content-place .right .content .header h3 {
          margin: 0;
          font-weight: normal;
          font-size: 18px;
          margin-bottom: 10px;
          font-style: italic;
          color: #3B3B3B; }
        .places .content-place .right .content .header span {
          float: right;
          color: #8B8B8B;
          margin-top: -10px; }
        .places .content-place .right .content .body {
          display: inline-block;
          margin: 0; }
        .places .content-place .right .content .fields {
          font-size: 18px; }
          .places .content-place .right .content .fields > div {
            margin: 5px 0 20px 0; }
            .places .content-place .right .content .fields > div label {
              display: block;
              background: #F5F5F5;
              padding: 5px 5px 5px 15px;
              border-left: 5px solid #F9AE0A;
              margin-bottom: 5px; }
            .places .content-place .right .content .fields > div span {
              display: inline-block;
              white-space: pre-line;
              padding-left: 10px;
              word-break: break-word; }
  .places .places-list {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }
    .places .places-list .tag {
      border: 2px solid #fff;
      padding: 5px;
      text-transform: uppercase;
      width: auto; }
    .places .places-list .slick-slider {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 91.6666666667%;
      float: left;
      margin: 0 4.1666666667%; }
      .places .places-list .slick-slider .slick-prev,
      .places .places-list .slick-slider .slick-next {
        display: block;
        height: 67%;
        top: 15%;
        background: rgba(255, 255, 255, 0.17);
        width: 40px; }
      .places .places-list .slick-slider .slick-prev {
        left: -35px; }
      .places .places-list .slick-slider .slick-next {
        right: -35px; }
    .places .places-list .place-item {
      cursor: pointer;
      color: #000;
      padding: 0;
      background: transparent;
      overflow: hidden;
      height: 100px; }
      .places .places-list .place-item .place-content {
        background: #fff;
        padding: 5px; }
        .places .places-list .place-item .place-content h3 {
          font-size: 13px;
          font-weight: bold; }
        .places .places-list .place-item .place-content h4 {
          font-size: 12px; }
      .places .places-list .place-item.selected .place-content {
        background: #F9AE0A; }

.metadata {
  width: 600px;
  margin: 20px auto; }
  .metadata h1 {
    margin: 10px; }
  .metadata .control {
    display: block;
    margin: 10px 0; }
    .metadata .control label {
      display: block;
      font-size: 16px; }
    .metadata .control input[type=text] {
      width: 100%;
      padding: 3px;
      margin: 5px 0; }
      .metadata .control input[type=text].coord {
        width: 150px; }
    .metadata .control textarea {
      width: 100%;
      height: 60px;
      margin: 5px 0; }
    .metadata .control .check {
      padding: 5px 13px;
      display: inline-block;
      background: #EFEFEF;
      border-radius: 2px;
      margin: 5px 10px; }
      .metadata .control .check label {
        display: inline-block;
        vertical-align: top;
        font-size: 14px; }
      .metadata .control .check input {
        display: inline-block;
        width: auto; }
  .metadata .parsed {
    width: 100%;
    height: 150px; }
  .metadata .error {
    color: red; }
  .metadata a {
    padding: 5px;
    border: 1px solid silver;
    color: #000;
    border-radius: 4px;
    text-decoration: none;
    margin: 10px 20px;
    float: right; }

.footer-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .footer-content:after {
    content: " ";
    display: block;
    clear: both; }
  .footer-content .left {
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.6666666667%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }
    @media (min-width: 0) and (max-width: 45em) {
      .footer-content .left {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%; } }
  .footer-content .right {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.3333333333%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }
    @media (min-width: 0) and (max-width: 45em) {
      .footer-content .right {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%; } }

.intro {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .intro:after {
    content: " ";
    display: block;
    clear: both; }
  .intro .title {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }
    .intro .title h1 {
      font-size: 50px;
      margin: 0;
      margin-bottom: 10px; }
      @media (min-width: 0) and (max-width: 30em) {
        .intro .title h1 {
          font-size: 25px; } }
      @media (min-width: 30em) and (max-width: 60em) {
        .intro .title h1 {
          font-size: 35px; } }
  .intro .body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    display: inline-block;
    font-size: 20px; }
