.button {
  background: transparent;
  border: 1px solid silver;
  margin: 0;
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  width: 200px;
  padding: 5px;
  cursor: pointer;
}
