.header {
  background-color: #000;

  ul {
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: #fff;
        text-transform: uppercase;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }

      &.selected {
        a {
          background-color: #fff;
          color: #000;
        }
      }
    }

    &.articles {
      text-align: left;
      display: inline-block;

      li {

        a {
          border: none;
          background: #000;
          color: #fff;
          display: inline;
          padding: 10px;
        }

        &.selected {
          a {
            text-decoration: underline;
            background-color: #000;
            color: #fff;
          }
        }
      }

    }

  }
}
