@import "./controls/index.scss";

a {
  cursor: pointer;
}

.toolbar {
  background: #009FE3;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;

  .logo-elfaro {
    background-image: $logo-el-faro;
    background-repeat: no-repeat;
    width: 130px;
    height: 50px;
    float: right;
    margin-right: -20px;
  }

  .logo-retrato {
    background-image: $logo-retrato;
    background-repeat: no-repeat;
    width: 145px;
    height: 48px;
    background-color: #fff;
    margin-left: 10px;
  }
}
/*
section {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
*/

@import "./introArticle.scss";
@import "./introSection.scss";
@import "./mapsSelector.scss";
@import "./mapArticle.scss";
@import "./analysisArticle.scss";
@import "./testimonials.scss";
@import "./places.scss";
@import "./logos.scss";

@import "./metadata.scss";

.footer-content {
  @include container();

  .left {
    overflow: hidden;
    @include span(5 of 12);

    @include susy-media(0 45em) {
      @include span(12);
    }
  }

  .right {
    @include span(7 of 12);

    @include susy-media(0 45em) {
      @include span(12);
    }
  }
}
