@import "./controls/index.scss";

a {
  cursor: pointer;
}

.logo {
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  width: 234px;
  height: 87px;
}

section {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

@import "./introArticle.scss";
@import "./mapsSelector.scss";
@import "./mapArticle.scss";
@import "./analysisArticle.scss";
@import "./testimonials.scss";
@import "./places.scss";

@import "./metadata.scss";

.footer-content {
  @include container();

  .left {
    overflow: hidden;
    @include span(5 of 12);
  }

  .right {
    @include span(7 of 12);
  }
}
