.logos {
  @include section;
  max-width: 70em;
  margin: 20px auto;

  .legend {
    font-size: 20px;
    display: block;

    strong {
      font-weight: bold;
    }

    @include susy-media(0 80em) {
      margin: 10px;
    }
  }

  a, >div {
    height: 80px;
    display: inline-block;
    text-align: center;
    width: span(2 of 12);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include susy-media(0 30em) {
      display: block;
      width: 80%;
      height: 60px;
      margin: 10%;
    }
  }

  .hackslabs {
    background-image: url('/images/hackslabs.png');

    @include susy-media(0 30em) {
      height: 30px;
    }
  }

  .icfj {
    background-image: url('/images/ICFJ.jpg');
  }

  .hivos {
    background-image: url('/images/hivos.jpg');
  }

  .avina {
    background-image: url('/images/avina.gif');
  }

  .anacarolina {
    background-image: url('/images/AnaCarolina.jpg');
  }

  .icco {
    background-image: url('/images/icco.png');
  }
}
