.map-article {
  @include section;
  padding-top: 60px;

  @include susy-media(0 35em) {
    padding-top: 115px;
  }

  @include susy-media(0 32em) {
    padding-top: 123px;
  }

  .top-header {
    @include container;
    margin-top: 5px;

    @include susy-media(0 32em) {
      margin-bottom: 5px;
    }

    .back {
      a {
        text-decoration: none;
        color: $primary-color;
        padding: 4px 5px;
        border: 2px solid $primary-color;
        font-weight: bold;
        display: inline-block;
        text-transform: uppercase;

        &:hover {
          background: $primary-color;
          color: #fff;
        }
      }
    }

    .back {
      @include span(6 left  no-gutters);

      @include susy-media(0 32em) {
        @include span(6 left);
      }
    }

    .social {
      @include span(6 right no-gutters);
      text-align: right;
      margin-top: 3px;

      @include susy-media(0 32em) {
        @include span(6 right);
      }
    }

  }

  .top-menu {
    display: inline-block;
    width: 100%;
    @include container();

    .layers, .tabs {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      margin-top: 5px;
      display: inline-block;

      li {
        display: inline;
        //margin: 0 5px;
      }

      a {
        padding: 12px;
        text-transform: uppercase;
        font-weight: bold;

        text-align: center;
        display: inline-block;
        margin: 0;
      }
    }

    .layers {
      @include span(6 of 12 right no-gutters);
      text-align: right;

      li {
        margin: 0;
        @include span(6);

        a {
          @include span(12 no-gutters);
          padding: 0;
          color: #4A4A4A;
          display: table;

          >div:first-child {
            @include span(4 no-gutters);
            display: table-cell;
            padding: 12px 10px;
            vertical-align: middle;
            border-right: 2px solid;
          }

          >div:last-child {
            @include span(8 no-gutters);
            display: table-cell;
            text-transform: none;
            padding: 2px;
            font-weight: normal;
          }
        }


        &:nth-child(1){
          a {
            background: #fff;
            border: 2px solid $group-a-color;

            >div:first-child {
              color: $group-a-color;
            }

            &.active {
              >div:first-child {
                border-right: none;
                background: $group-a-color;
                color: #fff;
              }
            }
          }
        }

        &:nth-child(2){

          a {
            background: #fff;
            border: 2px solid $group-b-color;

            >div:first-child {
              color: $group-b-color;
            }

            &.active {
              >div:first-child {
                border-right: none;
                background: $group-b-color;
                color: #fff;
              }
            }

          }
        }

      }

      @include susy-media(0 65em) {
        @include span(8 of 12 right no-gutters);
      }

      @include susy-media(0 50em) {
        @include span(7 of 12 right no-gutters);

        li {
          @include span(12);
        }
      }

      @include susy-media(0 32em) {
        @include span(12 no-gutters);

        margin-top: 0;

        li {
          padding: 0;
          margin: 0;

          @include span(6 no-gutters);

          a {
            @include span(12 no-gutters);

            >div:first-child,
            >div:last-child {
              @include span(12 no-gutters);
            }

            >div:first-child {
              padding: 2px 10px;
              border-right: none;
              border-bottom: 2px solid;
            }

            &.active {
              >div:first-child {
                border-bottom: 2px solid transparent;
              }
            }

          }
        }
      }

    }

    .tabs {
      @include span(6 of 12 left no-gutter);

      li {
        margin: 0;
        @include span(3);

        a {
          @include span(12 no-gutters);

          color: $primary-color;
          background: #fff;
          border: 2px solid $primary-color;

          &.active {
            background: $primary-color;
            color: #fff;
          }
        }

      }

      @include susy-media(0 65em) {
        @include span(4 of 12 left no-gutters);

        li {
          @include span(5);
        }
      }

      @include susy-media(0 50em) {
        @include span(5 of 12 left no-gutters);
        li {
          @include span(8);
        }
      }

      @include susy-media(0 32em) {
        @include span(12 no-gutters);

        margin-top: 0;
        position: fixed;
        top: 89px;
        left: 0;
        z-index: 1001;

        li {
          padding: 0;
          margin: 0;

          @include span(6 no-gutters);

          a {
            padding: 5px 12px;
            @include span(12 no-gutters);
          }
        }
      }

    }

  }

  .map {
    width: 100%;
    min-width: 200px;
    height: 380px;
    background: #DDDDDD;

    @include susy-media(0 30em) {
      height: 280px;
    }
  }

  .content {
    @include container();
    position: relative;

    .km-viz {
      @include span(3 of 12);

      >div {
        // Until it's built
        vertical-align: middle;
        color: #4C4C4C;
        font-size: 20px;
        text-align: center;
        background: #E6FFEF;
        margin: 20px;
        padding: 20px;
      }

      @include susy-media(0 45em) {
        @include span(12);
      }
    }

    .editorial-content {
      @include span(9 of 12 no-gutter);

      .editorial-tabs {
        @include span(12 right);
        text-align: right;

        list-style: none;
        padding: 0;
        margin-bottom: 0;
        margin-top: 15px;
        display: inline-block;

        border-bottom: 2px solid #E2E2E2;

        li {
          display: inline;

          a {
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;

            text-align: center;
            display: inline-block;
            margin: 0;

            border-bottom: none;
            color: #A1A1A1;

            &.active {
              border: 2px solid #E2E2E2;
              border-bottom: 2px solid white;
              margin-bottom: -2px;
              color: #6F6F6F;
              border-top: 3px solid $active-color;
            }
          }

        }

      }

      .analysis {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .editorial-article,
      .analysis {
        display: inline-block;
      }

      h2 {
        margin: 10px 0 20px 0;
        font-size: 50px;
        font-weight: lighter;
        margin: 0;
      }

      .author,
      .author-mobile {
        text-transform: uppercase;
        font-size: 22px;
        float: right;
      }

      .author-mobile {
        display: none;
        font-size: 16px;
        float: right;
      }

      @include susy-media(0 45em) {
        @include span(12 of 12);

        h2 {
          font-size: 50px;
        }

        .author {
          display: none;
        }

        .author-mobile {
          font-size: 18px;
          display: block;
        }
      }

      @include susy-media(0 30em) {
        h2 {
          font-size: 38px;
        }

        .author-mobile {
          font-size: 16px;
        }
      }

      .intro {
        display: inline-block;
        margin: 10px 0;
        font-size: 24px;
        font-weight: bold;

        p {
          margin: 0;
        }

        @include susy-media(0 45em) {
          font-size: 22px;
        }
      }

      .body {
        font-size: 18px;

        p {
          margin-top: 0;
        }

        @include susy-media(0 45em) {
          @include span(12);
          margin-left: 0;
          font-size: 16px;
        }
      }
    }
  }

}

.leaflet-popup {

  .leaflet-popup-close-button {
    display: none;
  }

}

.leaflet-popup-content-wrapper,
.place-item {
  border-radius: 0;
  width: 300px;

  .leaflet-popup-content,
  .place-content {
    @include container();
    margin: 10px;

    .desc {
      @include span(8);

      h3 {
        margin: 0;
      }

      h4 {
        margin: 0;
        margin-top: 5px;
        font-weight: normal;
      }
    }

    .img {
      @include span(4);

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      height: 80px;
    }
  }
}
