.map-article {

  .top-menu {
    display: inline-block;
    width: 100%;

    .layers, .sections {
      list-style: none;
      padding: 0;
      margin: 10px;
      display: inline-block;

      li {
        display: inline;
        margin: 10px;

        a {
          padding: 10px;
          background: #D5D5D5;
          color: black;
          border: 1px solid silver;

          &.active {
            background: #27FF00;
          }
        }
      }
    }

    .layers {
      float: left;
    }

    .sections {
      float: right;
    }
  }

  .map {
    width: 100%;
    min-width: 200px;
    height: 520px;
    background: #DDDDDD;
  }

  .content {
    @include container();

    .tag {
      @include span(3 of 12);

      span {
        border: 2px solid black;
        display: inline-block;
        padding: 10px;
        margin: 10px 0;
        width: 80%;
      }
    }

    .header {
      @include span(9 of 12);

      h2 {
        margin: 10px 0 20px 0;
        font-weight: 500;
        font-size: 40px;
        margin: 0;
      }

      .author {
        text-transform: uppercase;
        font-size: 20px;
      }
    }

    .intro {
      display: inline-block;
      margin: 10px 0;
      font-size: 20px;
      font-weight: 700;
    }

    .body {
      @include span(9 of 12);
      display: inline-block;
      margin: 10px 0;

      p {
        margin-top: 0;
      }
    }
  }

}

.leaflet-popup {

  .leaflet-popup-close-button {

  }

  .leaflet-popup-content-wrapper {
    border-radius: 0;
    width: 200px;

    .leaflet-popup-content {
      h3 {

      }

      .img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        width: 100%;
        height: 80px;
      }
    }
  }
}
