.map-article {
  @include section;
  padding-top: 60px;

  .top-menu {
    display: inline-block;
    width: 100%;
    @include container();

    .layers, .places-btn {
      list-style: none;
      padding: 0;
      display: inline-block;

      li {
        display: inline;
      }

      a {
        padding: 10px;
        background: $primary-color;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;

        &.active {
          background: $active-secondary-color;
        }
      }
    }


    .layers {
      @include span(8 of 12 no-gutter);
      margin-bottom: 0;

      li {
        display: block;
        @include span(12 break);
        margin: 5px 0;

        a {
          text-align: center;
          display: inline-block;
          margin: 0;
          @include span(2 of 12 no-gutter);
        }

        &:nth-child(1){
          a {
            background: #fff;
            color: $group-a-color;
            border: 2px solid $group-a-color;

            &.active {
              background: $group-a-color;
              color: #fff;
            }
          }
        }

        &:nth-child(2){
          a {
            background: #fff;
            color: $group-b-color;
            border: 2px solid $group-b-color;

            &.active {
              background: $group-b-color;
              color: #fff;
            }
          }
        }

        span {
          margin-left: 0;
          @include span(10 of 12 wide);
        }
      }

      @include susy-media(0 50em) {
        li {
          a {
            @include span(3 of 12 no-gutter);
          }

          span {
            @include span(9 of 12 wide);
          }
        }
      }

      @include susy-media(0 35em) {
        @include span(12 of 12 no-gutter);
      }
    }

    .places-btn {
      @include span(4 of 12 no-gutter);
      text-align: right;
      margin-top: 15px;

      span {
        text-transform: uppercase;
        display: block;
        margin: 20px 0 5px 0;
        font-size: 18px;
        font-weight: 600;
      }

      a {
        display: block;
        max-width: 140px;
        float: right;

        color: $primary-color;
        background: #fff;
        border: 2px solid $primary-color;

        &.active {
          background: $primary-color;
          color: #fff;
        }
      }

      @include susy-media(0 45em) {
        @include span(4 of 12 no-gutter);
      }

      @include susy-media(0 35em) {
        display: none;
      }
    }

  }

  .map {
    width: 100%;
    min-width: 200px;
    height: 520px;
    background: #DDDDDD;

    @include susy-media(0 30em) {
      height: 320px;
    }
  }

  .content {
    @include container();
    position: relative;

    .tag {
      @include span(3 of 12);

      span {
        border: 2px solid black;
        display: inline-block;
        padding: 10px;
        margin: 10px 0;
      }

      @include susy-media(0 45em) {
        @include span(6 of 12);
      }

      @include susy-media(0 30em) {
        @include span(12 of 12);
      }
    }

    .header {
      @include span(9 of 12);

      h2 {
        margin: 10px 0 20px 0;
        font-size: 60px;
        font-weight: lighter;
        margin: 0;
      }

      .author,
      .author-mobile {
        text-transform: uppercase;
        font-size: 22px;
      }

      .author-mobile {
        display: none;
        font-size: 16px;
      }

      @include susy-media(0 45em) {
        @include span(12 of 12);

        h2 {
          font-size: 50px;
        }

        .author {
          display: none;
        }

        .author-mobile {
          font-size: 18px;
          display: block;
        }
      }

      @include susy-media(0 30em) {
        h2 {
          font-size: 38px;
        }

        .author-mobile {
          font-size: 16px;
        }
      }

    }

    .intro {
      display: inline-block;
      margin: 10px 0;
      font-size: 24px;
      font-weight: bold;

      p {
        margin: 0;
      }

      @include susy-media(0 45em) {
        font-size: 22px;
      }
    }

    .body {
      @include span(9 of 12);
      margin-left: span(3 wide);
      font-size: 18px;

      p {
        margin-top: 0;
      }

      @include susy-media(0 45em) {
        @include span(12);
        margin-left: 0;
        font-size: 16px;
      }
    }
  }

}

.leaflet-popup {

  .leaflet-popup-close-button {
    display: none;
  }

}

.leaflet-popup-content-wrapper,
.place-item {
  border-radius: 0;
  width: 300px;

  .leaflet-popup-content,
  .place-content {
    @include container();
    margin: 10px;

    .desc {
      @include span(8);

      h3 {
        margin: 0;
      }

      h4 {
        margin: 0;
        margin-top: 5px;
        font-weight: normal;
      }
    }

    .img {
      @include span(4);

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      height: 80px;
    }
  }
}
