.maps-selector {
  @include full-screen-section;

  h1 {
    @include section-title;
  }

  .content-center {
    border: $section-border;
  }

  ul {
    list-style: none;
    padding: 0;
    @include section;

    li {
      @include span(3 of 12 no-gutters);
      cursor: pointer;

      .wrap {
        @include container;
        border: solid 1px silver;
        margin: 10px;
        padding: 0;
        @include flex-box;

        &:hover {
          background-color: $active-color;
          text-decoration: none;

          .img {
            opacity: 1;
          }

          h4 {
            color: #fff;
          }
        }
      }

      &:nth-child(odd){
        .wrap {
          //background-color: $secondary-color;
        }
      }

      .img {
        @include span(4 of 12 left narrow);
        padding-top: span(2);
        opacity: 0.75;

        height: 0;
        padding-top: span(3);
        position: relative;
        min-height: 50px;

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      h4 {
        @include span(8 of 12 right wide);
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        color: #000;
        font-weight: normal;

        @include flex-box;
        @include flex-box-center;
        justify-content: center;
      }

      &.disabled {
        cursor: default;

        .wrap {
          .img {
            background-color: #CFCFCF;
          }

          h4 {
            color: #BABABA;
          }

          &:hover {
            background-color: #fff;

            .img {
              opacity: 0.75;
            }

            h4 {
              color: #BABABA;
            }
          }
        }

      }

      @include susy-media(0 72em) {
        @include span(6 of 12 no-gutters);
      }

      @include susy-media(0 40em) {
        @include span(12 no-gutters);
      }

    }
  }
}
