.methodology {
  //@include full-screen-section;
  @include span(6 of 12 no-gutters);

  @include susy-media(0 40em) {
    @include span(12 of 12 no-gutters);
  }

  h1 {
    @include section-title;
    top: -30px;
    left: 10%;

    @include susy-media(0 40em) {
      top: 20px;
      font-size: 24px;
    }
  }

  .content-center {
    //border: $section-border;
    background-color: $active-color;
  }

  .narrow-content {
    margin-top: 30px;

    @include susy-media(0 40em) {
      margin-top: 60px;
    }
  }

  .body {
    display: inline-block;
    font-size: 16px;
    text-align: left;
    color: #fff;

    margin-left: auto;
    margin-right: auto;
    max-width: 70%;

    @include susy-media(0 40em) {
      max-width: 80%;
      font-size: 14px;
    }
  }
}
