.places {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;

  .content-place {
    @include container;

    .places-list {
      display: inline-block;
      @include span(12);

      .slick-slider {
        @include span(11 of 12 no-gutters);
        margin: 0 span(0.5 of 12 no-gutters);

        .slick-prev,
        .slick-next {
          display: block;
          height: 94px;
          top: 20px;
          width: 40px;

          @include susy-media(0 32em) {
            width: 25px;
          }

          &:before {
            font-family: "fontello";
            color: #424242;
            font-size: 40px
          }
        }

        .slick-prev {
          left: -35px;

          @include susy-media(0 32em) {
            left: -20px;
          }

          &:before {
            content: "\e800";
          }
        }

        .slick-next {
          right: -35px;

          @include susy-media(0 32em) {
            right: -15px;
          }

          &:before {
            content: "\e803";
          }
        }
      }

      .place-item {
        cursor: pointer;
        color: #000;
        padding: 0;

        overflow: hidden;
        height: 115px;

        .place-content {
          background: #fff;
          padding: 5px;
          border: 2px solid #6F6F6F;
          margin-bottom: 0;
          margin-top: 10px;

          h3 {
            font-size: 13px;
            font-weight: bold;
          }

          h4 {
            font-size: 12px;
          }
        }

        &.selected {
          .place-content {
            background: $active-color;
            border: 2px solid $active-color;

            .desc {
              color: #fff;
            }
          }
        }

      }

    }

    .left {
      @include span(5 no-gutters);
      position: relative;

      .picture {
        @include span(12 no-gutters);

        height: 450px;
        position: relative;

        >div {
          background-color: silver;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .content {
        @include span(12 no-gutters);

        height: 78px;
        position: absolute;
        bottom: 0;
        left: 0;

        >div {
          color: #000;
          background: rgba(255,255,255,0.75);

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .groups {
            @include span(7 no-gutters);
            padding: 5px 10px;

            label {
              display: block;
              font-weight: bold;
            }

            span {
              padding: 10px;
              color: #fff;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
              display: inline-block;
              margin: 5px;
            }

            .a {
              background: $group-a-color;
            }

            .b {
              background: $group-b-color;
            }
          }

          .times {
            @include span(5 no-gutters);
            padding: 5px 10px;
            text-align: right;

            label {
              display: block;
              font-weight: bold;
            }

            span {
              text-align: center;
              display: inline-block;
              margin: 5px;
            }

            .day {
              background: #82C6F6;

              i {
                color: #FFFF7B;
                font-size: 30px;
                text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
              }
            }

            .night {
              background: #2A5471;

              i {
                color: #F8F8F8;
                font-size: 30px;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }

      @include susy-media(0 56em) {
        @include span(12);

        .picture {
          height: 240px;
        }
      }

    }

    .right {
      @include span(7 no-gutters);

      .content {
        @include span(12);
        background-color: #fff;
        color: #000;

        .header,
        .body,
        .fields {
          @include span(12);
        }

        .header {

          h2 {
            margin: 0;
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 5px;
          }

          h3 {
            margin: 0;
            font-weight: normal;
            font-size: 18px;
            margin-bottom: 10px;
            font-style: italic;
            color: #3B3B3B;
          }

          span {
            float: right;
            color: #8B8B8B;
            margin-top: -10px;
          }
        }

        .body {
          display: inline-block;
          margin: 0;
          font-size: 16px;
        }

        .fields {
          font-size: 16px;

          >div {
            margin: 5px 0 20px 0;

            label {
              display: block;
              background: #F5F5F5;
              padding: 5px 5px 5px 15px;
              border-left: 5px solid $active-color;
              margin-bottom: 5px;
            }

            span {
              display: inline-block;
              white-space: pre-line;
              padding-left: 10px;
              word-break: break-word;
            }
          }
        }

      }

      @include susy-media(0 56em) {
        @include span(12);
      }

    }

  }
}
