.testimonials {
  //@include full-screen-section;
  @include span(6 of 12 no-gutters);
  display: block;

  @include susy-media(0 40em) {
    @include span(12 of 12 no-gutters);
  }

  h1 {
    @include section-title;
    top: -80px;
    left: 5%;

    @include susy-media(0 40em) {
      top: -65px;
      font-size: 24px;
    }
  }

  .content-center {
    display: block;
  }

  .narrow-content {
    width: 400px;
    margin: 50px auto;

    @include susy-media(0 52em) {
      width: 350px;
    }

    @include susy-media(0 48em) {
      width: 300px;
    }

    @include susy-media(0 40em) {
      width: 30em;
      margin-top: 40px;
      margin-bottom: 80px;
    }

    @include susy-media(0 32em) {
      width: 24em;
    }

    @include susy-media(0 28em) {
      width: 18em;
    }

  }

  .body {
    margin: 0;
    font-size: 16px;
    font-style: italic;

    p {
      margin-top: 0;
      display: inline;
    }

    @include susy-media(0 40em) {
      font-size: 14px;
    }
  }

  .author {
    @include span(12 no-gutters);
    font-size: 18px;
    margin: 7px;
  }

  .slick-next, .slick-prev {
    display: block;
    bottom: -30px;
    top: auto;
    padding: 2px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    z-index: 5;

    &:before {
      font-family: "fontello";
      color: #009FE3;
      font-size: 40px;
    }
  }

  .slick-next {
    right: 0px;

    &:before {
      content: "\e803";
    }
  }

  .slick-prev {
    left: 0px;

    &:before {
      content: "\e800";
    }
  }

}
