.testimonials {
  @include full-screen-section;
  display: block;

  h1 {
    @include section-title;
  }

  .content-center {
    border: $section-border;
    display: block;
  }

  .narrow-content {

    @include susy-media(0 80em) {
      margin: 60px 20px 50px 20px;
    }

    @include susy-media(0 32em) {
      margin: 20px 20px 50px 20px;
    }

  }

  .wrap {
    @include container;
  }

  .body {
    @include span(12 no-gutters);
    display: inline-block;
    margin: 0;
    font-size: 20px;
    font-style: italic;

    p {
      margin-top: 0;
      display: inline;
    }
  }

  .author {
    @include span(12 no-gutters);
    font-size: 18px;
    margin: 7px;
  }

  .slick-next, .slick-prev {
    display: block;
    bottom: -30px;
    top: auto;
    padding: 2px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    z-index: 5;

    &:before {
      font-family: "fontello";
      color: #009FE3;
      font-size: 40px;
    }
  }

  .slick-next {
    right: 0px;

    &:before {
      content: "\e803";
    }
  }

  .slick-prev {
    left: 0px;

    &:before {
      content: "\e800";
    }
  }

}
