.testimonials {
  display: block;
  border: solid 2px black;
  padding: 10px;

  .content {

    .tag {
      display: inline-block;

      span {
        border: 2px solid black;
        display: inline-block;
        padding: 10px;
        margin: 10px 0;
        width: 80%;
      }
    }
  }

  .body {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-style: italic;

    p {
      margin-top: 0;
      display: inline;
    }
  }

  .author {
    font-size: 18px;
    margin: 7px;
  }

  .slick-next, .slick-prev {
    display: block;
    bottom: -30px;
    top: auto;
    padding: 2px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    z-index: 5;

    &:before {
      font-family: "fontello";
      color: #000;
    }
  }

  .slick-next {
    right: 0px;

    &:before {
      content: "\e803";
    }
  }

  .slick-prev {
    left: 0px;

    &:before {
      content: "\e800";
    }
  }

  @include susy-media(0 40em) {
    border: none;
  }

}
