.toolbar {
  background: #009FE3;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;

  .logo-elfaro {
    background-image: $logo-el-faro;
    background-repeat: no-repeat;
    width: 130px;
    height: 50px;
    float: right;
    margin-right: -20px;
  }

  h1 {
    margin: 12px auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 26px;
    text-align: center;
    z-index: 1;

    @include susy-media(0 35em) {
      position: static;
      float: left;
      font-size: 22px;
    }

    @include susy-media(0 32em) {
      margin: 0;
    }
  }

  .logo-retrato {
    background-image: $logo-retrato;
    background-repeat: no-repeat;
    width: 145px;
    height: 48px;
    background-color: #fff;
    margin-left: 10px;

    display: block;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 5px;
  }
}
